<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5x3roKdn66Srw3cPAJ1UqcgdHceJ1hxo</string>
	<key>GCM_SENDER_ID</key>
	<string>936475195804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetSpace.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>meetspaceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>meetspaceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936475195804:ios:71bb603fcac5d9635bf059</string>
</dict>
</plist>